In [23]:
import pandas as pd
import numpy as np

In [24]:
df = pd.read_csv('../data/match-details/2021.csv')
df.head()

final = []

In [25]:
df.shape

(194, 312)

In [26]:

df1 = pd.read_csv('../data/drafting/International_2021_drafting.csv')

df1.head()

,match_id,result,Ban_T1_1,Ban_T1_2,Ban_T1_3,Ban_T1_4,Ban_T1_5,Ban_T1_6,Ban_T1_7,Ban_T2_1,...,Pick_T1_1,Pick_T1_2,Pick_T1_3,Pick_T1_4,Pick_T1_5,Pick_T2_1,Pick_T2_2,Pick_T2_3,Pick_T2_4,Pick_T2_5
0,6.219448e+09,Radiant,7.0,17.0,18.0,69.0,104.0,60.0,77.0,29.0,...,103.0,129.0,3.0,74.0,10.0,91.0,26.0,114.0,52.0,28.0
1,6.219498e+09,Dire,7.0,103.0,114.0,25.0,17.0,74.0,39.0,29.0,...,63.0,104.0,128.0,81.0,11.0,69.0,26.0,3.0,10.0,106.0
2,6.219558e+09,Dire,7.0,69.0,10.0,114.0,25.0,41.0,18.0,29.0,...,19.0,128.0,5.0,8.0,13.0,129.0,110.0,3.0,17.0,67.0
3,6.219662e+09,Radiant,103.0,97.0,46.0,123.0,63.0,72.0,48.0,19.0,...,114.0,68.0,7.0,10.0,106.0,91.0,129.0,100.0,74.0,70.0
4,6.219755e+09,Dire,128.0,68.0,7.0,8.0,17.0,23.0,106.0,19.0,...,103.0,114.0,104.0,56.0,123.0,58.0,97.0,21.0,70.0,34.0

In [27]:
df2 = pd.read_csv('../data/hero-names/hero_name.csv')
hero_name={}
for i in range(len(df2)):
    hero_name[df2.loc[i,'heroid']] = df2.loc[i,'hero']
hero_name

{1: 'antimage',
 2: 'axe',
 3: 'bane',
 4: 'bloodseeker',
 5: 'crystal_maiden',
 6: 'drow_ranger',
 7: 'earthshaker',
 8: 'juggernaut',
 9: 'mirana',
 11: 'nevermore',
 10: 'morphling',
 12: 'phantom_lancer',
 13: 'puck',
 14: 'pudge',
 15: 'razor',
 16: 'sand_king',
 17: 'storm_spirit',
 18: 'sven',
 19: 'tiny',
 20: 'vengefulspirit',
 21: 'windrunner',
 22: 'zuus',
 23: 'kunkka',
 25: 'lina',
 31: 'lich',
 26: 'lion',
 27: 'shadow_shaman',
 28: 'slardar',
 29: 'tidehunter',
 30: 'witch_doctor',
 32: 'riki',
 33: 'enigma',
 34: 'tinker',
 35: 'sniper',
 36: 'necrolyte',
 37: 'warlock',
 38: 'beastmaster',
 39: 'queenofpain',
 40: 'venomancer',
 41: 'faceless_void',
 42: 'skeleton_king',
 43: 'death_prophet',
 44: 'phantom_assassin',
 45: 'pugna',
 46: 'templar_assassin',
 47: 'viper',
 48: 'luna',
 49: 'dragon_knight',
 50: 'dazzle',
 51: 'rattletrap',
 52: 'leshrac',
 53: 'furion',
 54: 'life_stealer',
 55: 'dark_seer',
 56: 'clinkz',
 57: 'omniknight',
 58: 'enchantress',
 59: 'huskar',
 60: 'night_stalker',
 61: 'broodmother',
 62: 'bounty_hunter',
 63: 'weaver',
 64: 'jakiro',
 65: 'batrider',
 66: 'chen',
 67: 'spectre',
 69: 'doom_bringer',
 68: 'ancient_apparition',
 70: 'ursa',
 71: 'spirit_breaker',
 72: 'gyrocopter',
 73: 'alchemist',
 74: 'invoker',
 75: 'silencer',
 76: 'obsidian_destroyer',
 77: 'lycan',
 78: 'brewmaster',
 79: 'shadow_demon',
 80: 'lone_druid',
 81: 'chaos_knight',
 82: 'meepo',
 83: 'treant',
 84: 'ogre_magi',
 85: 'undying',
 86: 'rubick',
 87: 'disruptor',
 88: 'nyx_assassin',
 89: 'naga_siren',
 90: 'keeper_of_the_light',
 91: 'wisp',
 92: 'visage',
 93: 'slark',
 94: 'medusa',
 95: 'troll_warlord',
 96: 'centaur',
 97: 'magnataur',
 98: 'shredder',
 99: 'bristleback',
 100: 'tusk',
 101: 'skywrath_mage',
 102: 'abaddon',
 103: 'elder_titan',
 104: 'legion_commander',
 106: 'ember_spirit',
 107: 'earth_spirit',
 109: 'terrorblade',
 110: 'phoenix',
 111: 'oracle',
 105: 'techies',
 112: 'winter_wyvern',
 113: 'arc_warden',
 108: 'abyssal_underlord',
 114: 'monkey_king',
 120: 'pangolier',
 119: 'dark_willow',
 121: 'grimstroke',
 129: 'mars',
 126: 'void_spirit',
 128: 'snapfire',
 123: 'hoodwink',
 135: 'dawnbreaker',
 136: 'marci'}

In [28]:
hero_list = np.array([])
for i in range(1,11):
    hero_list = np.concatenate([hero_list,(df['Player_'+str(i)+'_hero_id']).to_numpy()])
len(hero_list)

1940

In [29]:
unique_hero,count = np.unique(hero_list,return_counts=True)


st = 'No of Unique Heroes picked :' + str(len(unique_hero)) + '\n'
print(st)
final.append(st)

temp = {int(unique_hero[i]) : int(count[i]) for i in range (len(unique_hero)) }
hero_count = {hero_name[k]: v for k, v in sorted(temp.items(), key=lambda item: item[1], reverse = True)}

print(hero_count)

No of Unique Heroes picked :113

{'elder_titan': 73, 'tidehunter': 63, 'earthshaker': 61, 'snapfire': 61, 'wisp': 60, 'tiny': 55, 'weaver': 52, 'lion': 48, 'monkey_king': 48, 'storm_spirit': 47, 'magnataur': 44, 'void_spirit': 43, 'mars': 41, 'lina': 40, 'disruptor': 39, 'ember_spirit': 36, 'bane': 32, 'doom_bringer': 31, 'morphling': 30, 'lycan': 30, 'invoker': 29, 'legion_commander': 29, 'medusa': 27, 'silencer': 26, 'spectre': 25, 'phoenix': 25, 'kunkka': 24, 'luna': 23, 'leshrac': 23, 'furion': 23, 'terrorblade': 23, 'ogre_magi': 22, 'sven': 21, 'ursa': 21, 'dragon_knight': 20, 'night_stalker': 20, 'puck': 19, 'gyrocopter': 19, 'sand_king': 18, 'rubick': 18, 'winter_wyvern': 18, 'rattletrap': 17, 'mirana': 16, 'queenofpain': 16, 'templar_assassin': 16, 'faceless_void': 15, 'troll_warlord': 15, 'enchantress': 14, 'pangolier': 14, 'treant': 13, 'dawnbreaker': 13, 'razor': 12, 'clinkz': 12, 'ancient_apparition': 12, 'undying': 12, 'beastmaster': 11, 'skeleton_king': 11, 'life_stealer': 11, 'shredder': 11, 'tinker': 10, 'shadow_demon': 10, 'nyx_assassin': 10, 'skywrath_mage': 10, 'earth_spirit': 10, 'dark_willow': 10, 'nevermore': 9, 'vengefulspirit': 9, 'necrolyte': 9, 'dark_seer': 9, 'bloodseeker': 8, 'juggernaut': 8, 'windrunner': 8, 'slardar': 8, 'venomancer': 8, 'slark': 8, 'tusk': 8, 'abaddon': 8, 'hoodwink': 8, 'crystal_maiden': 7, 'shadow_shaman': 7, 'death_prophet': 6, 'jakiro': 6, 'batrider': 6, 'bristleback': 6, 'witch_doctor': 5, 'sniper': 5, 'phantom_assassin': 5, 'pugna': 5, 'bounty_hunter': 5, 'naga_siren': 5, 'centaur': 5, 'abyssal_underlord': 5, 'oracle': 5, 'drow_ranger': 4, 'phantom_lancer': 4, 'chaos_knight': 4, 'antimage': 3, 'viper': 3, 'brewmaster': 3, 'grimstroke': 3, 'axe': 2, 'lich': 2, 'chen': 2, 'visage': 2, 'pudge': 1, 'riki': 1, 'enigma': 1, 'warlock': 1, 'dazzle': 1, 'omniknight': 1, 'alchemist': 1, 'keeper_of_the_light': 1, 'arc_warden': 1}

In [30]:
ban_hero_list = np.array([])
for i in range(1,8):
    ban_hero_list = np.concatenate([ban_hero_list,(df1['Ban_T1_'+str(i)]).to_numpy()])
    ban_hero_list = np.concatenate([ban_hero_list,(df1['Ban_T2_'+str(i)]).to_numpy()])
len(ban_hero_list)

2716

In [31]:
unique_ban_hero,ban_count = np.unique(ban_hero_list,return_counts=True)

st = 'No of Unique Heroes Banned :'+ str(len(unique_ban_hero)) + '\n'
print(st)
final.append(st)


temp_ban = {int(unique_ban_hero[i]) : int(ban_count[i]) for i in range (len(unique_ban_hero)) }
ban_hero_count = {hero_name[k]: v for k, v in sorted(temp_ban.items(), key=lambda item: item[1], reverse = True)}

print(ban_hero_count)

No of Unique Heroes Banned :105

{'monkey_king': 140, 'tiny': 132, 'wisp': 115, 'invoker': 113, 'morphling': 86, 'storm_spirit': 82, 'tidehunter': 79, 'weaver': 76, 'lina': 73, 'faceless_void': 67, 'medusa': 59, 'puck': 54, 'ursa': 53, 'sven': 52, 'earthshaker': 48, 'elder_titan': 48, 'doom_bringer': 47, 'lycan': 47, 'mars': 47, 'beastmaster': 44, 'terrorblade': 43, 'snapfire': 42, 'batrider': 41, 'spectre': 41, 'night_stalker': 39, 'ember_spirit': 38, 'templar_assassin': 37, 'slark': 37, 'kunkka': 35, 'queenofpain': 35, 'luna': 34, 'leshrac': 32, 'magnataur': 31, 'void_spirit': 30, 'tinker': 29, 'ancient_apparition': 28, 'troll_warlord': 27, 'life_stealer': 26, 'silencer': 26, 'legion_commander': 26, 'bloodseeker': 24, 'razor': 24, 'venomancer': 22, 'gyrocopter': 22, 'shredder': 22, 'lion': 20, 'juggernaut': 19, 'necrolyte': 19, 'viper': 18, 'bane': 16, 'phantom_lancer': 16, 'dark_seer': 16, 'shadow_demon': 16, 'rubick': 16, 'winter_wyvern': 16, 'sand_king': 15, 'phoenix': 15, 'slardar': 14, 'disruptor': 14, 'antimage': 13, 'furion': 13, 'treant': 11, 'naga_siren': 11, 'pangolier': 11, 'dawnbreaker': 10, 'vengefulspirit': 9, 'dragon_knight': 9, 'nevermore': 8, 'death_prophet': 8, 'rattletrap': 8, 'clinkz': 8, 'abaddon': 8, 'skeleton_king': 7, 'undying': 7, 'nyx_assassin': 7, 'grimstroke': 7, 'mirana': 6, 'phantom_assassin': 5, 'ogre_magi': 5, 'bristleback': 5, 'oracle': 5, 'sniper': 4, 'enchantress': 4, 'bounty_hunter': 4, 'tusk': 4, 'skywrath_mage': 4, 'dark_willow': 4, 'drow_ranger': 3, 'chen': 3, 'hoodwink': 3, 'crystal_maiden': 2, 'brewmaster': 2, 'earth_spirit': 2, 'arc_warden': 2, 'windrunner': 1, 'shadow_shaman': 1, 'riki': 1, 'enigma': 1, 'pugna': 1, 'huskar': 1, 'alchemist': 1, 'chaos_knight': 1, 'visage': 1, 'centaur': 1, 'abyssal_underlord': 1}

In [32]:
df2 = df.copy(deep=True)
df2['Total Kills'] = df2['Radiant_score'] + df2['Dire_score']
df2 = df2[['Match_id','Radiant_score','Dire_score','Total Kills']]
most_kills = df2.iloc[df2['Total Kills'].argmax()]

st = 'Most Kills in a match are ' + str(most_kills[3]) + ' in Match id ' + str(most_kills[0]) + '\n' 
print(st)
final.append(st)

Most Kills in a match are 89 in Match id 6213067601

In [33]:
df3 = df[['Match_id','Duration']]
longest_duration = df3.iloc[df3['Duration'].argmax()]
hours = int(longest_duration[1]/3600)
minutes = int((longest_duration[1] - hours*3600)/60)
seconds = int(longest_duration[1] - (hours*3600 + minutes*60))

st = 'Longest match in Tournament is' + str(hours) + ' H ' + str(minutes) + ' M '  + str(seconds) + ' S for Match id' + str(longest_duration[0]) + '\n'
final.append(st)
print(st)

Longest match in Tournament is1 H 4 M 42 S for Match id6213685234

In [34]:
df3 = df[['Match_id','Duration']]
longest_duration = df3.iloc[df3['Duration'].argmin()]
hours = int(longest_duration[1]/3600)
minutes = int((longest_duration[1] - hours*3600)/60)
seconds = int(longest_duration[1] - (hours*3600 + minutes*60))

st = 'Shortest match in Tournament is' + str(hours) + ' H ' + str(minutes) + ' M ' + str(seconds) + ' S for Match id' + str(longest_duration[0]) + '\n'
final.append(st)
print(st)

Shortest match in Tournament is0 H 17 M 5 S for Match id6216526891

In [35]:
hero_kill_temp=[]
for i in range(1,11):
    hero_kill_temp.append(list(df.iloc[df['Player_'+str(i)+'_kills'].argmax(),[0,30*(i-1)+2,30*(i-1)+11]]))

hero_kill_sorted = [[a,hero_name[b],c] for a,b,c in sorted(hero_kill_temp, key=lambda item: item[2], reverse = True)]


st = 'Match id : '+str(hero_kill_sorted[0][0]) +' Hero name: ' +str(hero_kill_sorted[0][1]) + ' Total kills '+ str(hero_kill_sorted[0][2]) + '\n'
final.append(st)
print(st)

Match id : 6213067601 Hero name: dawnbreaker Total kills 27

In [36]:
hero_death_temp=[]
for i in range(1,11):
    hero_death_temp.append(list(df.iloc[df['Player_'+str(i)+'_deaths'].argmax(),[0,30*(i-1)+2,30*(i-1)+12]]))

hero_death_sorted = [[a,hero_name[b],c] for a,b,c in sorted(hero_death_temp, key=lambda item: item[2], reverse = True)]


st = 'Match id : '+str(hero_death_sorted[0][0]) +' Hero name: ' +str(hero_death_sorted[0][1]) + ' Total deaths '+ str(hero_death_sorted[0][2]) + '\n'
final.append(st)
print(st)

Match id : 6215317749 Hero name: ogre_magi Total deaths 17

In [37]:
hero_gpm_temp=[]
for i in range(1,11):
    hero_gpm_temp.append(list(df.iloc[df['Player_'+str(i)+'_gold_per_min'].argmax(),[0,30*(i-1)+2,30*(i-1)+16]]))

hero_gpm_sorted = [[a,hero_name[b],c] for a,b,c in sorted(hero_gpm_temp, key=lambda item: item[2], reverse = True)]


st = 'Match id : '+str(hero_gpm_sorted[0][0]) +' Hero name: ' +str(hero_gpm_sorted[0][1]) + ' Total GPM '+ str(hero_gpm_sorted[0][2]) + '\n'
final.append(st)
print(st)

Match id : 6215226977 Hero name: luna Total GPM 973

In [38]:
file1 = open('../output/Tournament-Analysis-2021.txt','w')
file1.writelines(final)
file1.close()