In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/match-details/2017.csv')
df.head()
final = []

In [3]:
df.shape

(191, 232)

In [4]:

df1 = pd.read_csv('../data/drafting/International_2017_drafting.csv')

df1.head()

,match_id,result,Ban_T1_1,Ban_T1_2,Ban_T1_3,Ban_T1_4,Ban_T1_5,Ban_T2_1,Ban_T2_2,Ban_T2_3,...,Pick_T1_1,Pick_T1_2,Pick_T1_3,Pick_T1_4,Pick_T1_5,Pick_T2_1,Pick_T2_2,Pick_T2_3,Pick_T2_4,Pick_T2_5
0,3362113115,Radiant,91.0,7.0,61.0,80.0,106.0,114.0,13.0,43.0,...,60.0,77.0,65.0,68.0,73.0,100.0,92.0,99.0,63.0,74.0
1,3362175204,Radiant,13.0,60.0,65.0,88.0,55.0,91.0,7.0,36.0,...,90.0,99.0,68.0,70.0,114.0,77.0,73.0,32.0,31.0,16.0
2,3362247584,Dire,13.0,60.0,55.0,77.0,34.0,91.0,90.0,61.0,...,68.0,41.0,28.0,80.0,106.0,7.0,87.0,107.0,18.0,25.0
3,3362331228,Radiant,13.0,7.0,45.0,77.0,6.0,88.0,31.0,63.0,...,16.0,87.0,40.0,102.0,76.0,9.0,89.0,23.0,53.0,98.0
4,3362390555,Dire,88.0,31.0,65.0,18.0,75.0,13.0,7.0,53.0,...,16.0,77.0,87.0,33.0,36.0,107.0,27.0,39.0,99.0,4.0

In [5]:
df2 = pd.read_csv('../data/hero-names/hero_name.csv')
hero_name={}
for i in range(len(df2)):
    hero_name[df2.loc[i,'heroid']] = df2.loc[i,'hero']
hero_name

{1: 'antimage',
 2: 'axe',
 3: 'bane',
 4: 'bloodseeker',
 5: 'crystal_maiden',
 6: 'drow_ranger',
 7: 'earthshaker',
 8: 'juggernaut',
 9: 'mirana',
 11: 'nevermore',
 10: 'morphling',
 12: 'phantom_lancer',
 13: 'puck',
 14: 'pudge',
 15: 'razor',
 16: 'sand_king',
 17: 'storm_spirit',
 18: 'sven',
 19: 'tiny',
 20: 'vengefulspirit',
 21: 'windrunner',
 22: 'zuus',
 23: 'kunkka',
 25: 'lina',
 31: 'lich',
 26: 'lion',
 27: 'shadow_shaman',
 28: 'slardar',
 29: 'tidehunter',
 30: 'witch_doctor',
 32: 'riki',
 33: 'enigma',
 34: 'tinker',
 35: 'sniper',
 36: 'necrolyte',
 37: 'warlock',
 38: 'beastmaster',
 39: 'queenofpain',
 40: 'venomancer',
 41: 'faceless_void',
 42: 'skeleton_king',
 43: 'death_prophet',
 44: 'phantom_assassin',
 45: 'pugna',
 46: 'templar_assassin',
 47: 'viper',
 48: 'luna',
 49: 'dragon_knight',
 50: 'dazzle',
 51: 'rattletrap',
 52: 'leshrac',
 53: 'furion',
 54: 'life_stealer',
 55: 'dark_seer',
 56: 'clinkz',
 57: 'omniknight',
 58: 'enchantress',
 59: 'huskar',
 60: 'night_stalker',
 61: 'broodmother',
 62: 'bounty_hunter',
 63: 'weaver',
 64: 'jakiro',
 65: 'batrider',
 66: 'chen',
 67: 'spectre',
 69: 'doom_bringer',
 68: 'ancient_apparition',
 70: 'ursa',
 71: 'spirit_breaker',
 72: 'gyrocopter',
 73: 'alchemist',
 74: 'invoker',
 75: 'silencer',
 76: 'obsidian_destroyer',
 77: 'lycan',
 78: 'brewmaster',
 79: 'shadow_demon',
 80: 'lone_druid',
 81: 'chaos_knight',
 82: 'meepo',
 83: 'treant',
 84: 'ogre_magi',
 85: 'undying',
 86: 'rubick',
 87: 'disruptor',
 88: 'nyx_assassin',
 89: 'naga_siren',
 90: 'keeper_of_the_light',
 91: 'wisp',
 92: 'visage',
 93: 'slark',
 94: 'medusa',
 95: 'troll_warlord',
 96: 'centaur',
 97: 'magnataur',
 98: 'shredder',
 99: 'bristleback',
 100: 'tusk',
 101: 'skywrath_mage',
 102: 'abaddon',
 103: 'elder_titan',
 104: 'legion_commander',
 106: 'ember_spirit',
 107: 'earth_spirit',
 109: 'terrorblade',
 110: 'phoenix',
 111: 'oracle',
 105: 'techies',
 112: 'winter_wyvern',
 113: 'arc_warden',
 108: 'abyssal_underlord',
 114: 'monkey_king',
 120: 'pangolier',
 119: 'dark_willow',
 121: 'grimstroke',
 129: 'mars',
 126: 'void_spirit',
 128: 'snapfire',
 123: 'hoodwink',
 135: 'dawnbreaker',
 136: 'marci'}

In [6]:
hero_list = np.array([])
for i in range(1,11):
    hero_list = np.concatenate([hero_list,(df['Player_'+str(i)+'_hero_id']).to_numpy()])
len(hero_list)

1910

In [7]:
unique_hero,count = np.unique(hero_list,return_counts=True)
st = 'No of Unique Heroes picked :' + str(len(unique_hero)) + '\n'
print(st)
final.append(st)

temp = {int(unique_hero[i]) : int(count[i]) for i in range (len(unique_hero)) }
hero_count = {hero_name[k]: v for k, v in sorted(temp.items(), key=lambda item: item[1], reverse = True)}

print(hero_count)

No of Unique Heroes picked :107

{'earthshaker': 70, 'sand_king': 69, 'batrider': 62, 'puck': 61, 'night_stalker': 51, 'faceless_void': 46, 'nyx_assassin': 45, 'lich': 44, 'lycan': 43, 'queenofpain': 40, 'earth_spirit': 40, 'sven': 39, 'shadow_shaman': 36, 'rattletrap': 33, 'ancient_apparition': 33, 'kunkka': 32, 'silencer': 32, 'necrolyte': 31, 'furion': 30, 'legion_commander': 30, 'death_prophet': 29, 'venomancer': 28, 'dark_seer': 28, 'rubick': 28, 'oracle': 28, 'phantom_lancer': 27, 'dazzle': 27, 'weaver': 27, 'mirana': 25, 'disruptor': 25, 'ember_spirit': 25, 'troll_warlord': 23, 'invoker': 21, 'witch_doctor': 20, 'dragon_knight': 20, 'winter_wyvern': 20, 'tusk': 19, 'ursa': 18, 'bristleback': 18, 'bloodseeker': 17, 'keeper_of_the_light': 17, 'visage': 17, 'antimage': 16, 'drow_ranger': 16, 'tidehunter': 16, 'pugna': 16, 'naga_siren': 16, 'lina': 15, 'slardar': 15, 'enigma': 15, 'spirit_breaker': 15, 'wisp': 15, 'magnataur': 15, 'life_stealer': 14, 'doom_bringer': 14, 'alchemist': 14, 'shredder': 14, 'terrorblade': 14, 'juggernaut': 12, 'morphling': 12, 'templar_assassin': 12, 'chaos_knight': 12, 'monkey_king': 12, 'crystal_maiden': 11, 'razor': 11, 'storm_spirit': 11, 'lone_druid': 10, 'medusa': 10, 'tinker': 9, 'axe': 8, 'bounty_hunter': 8, 'shadow_demon': 8, 'centaur': 8, 'nevermore': 7, 'beastmaster': 7, 'phantom_assassin': 7, 'viper': 7, 'luna': 7, 'enchantress': 7, 'brewmaster': 7, 'sniper': 6, 'broodmother': 6, 'obsidian_destroyer': 6, 'elder_titan': 6, 'warlock': 5, 'leshrac': 5, 'jakiro': 5, 'ogre_magi': 5, 'zuus': 4, 'riki': 4, 'clinkz': 4, 'omniknight': 4, 'phoenix': 4, 'vengefulspirit': 3, 'huskar': 3, 'gyrocopter': 3, 'abyssal_underlord': 3, 'arc_warden': 3, 'windrunner': 2, 'chen': 2, 'treant': 2, 'slark': 2, 'abaddon': 2, 'pudge': 1, 'meepo': 1, 'undying': 1, 'skywrath_mage': 1}

In [8]:
ban_hero_list = np.array([])
for i in range(1,6):
    ban_hero_list = np.concatenate([ban_hero_list,(df1['Ban_T1_'+str(i)]).to_numpy()])
    
    ban_hero_list = np.concatenate([ban_hero_list,(df1['Ban_T2_'+str(i)]).to_numpy()])
len(ban_hero_list)

1910

In [9]:
unique_ban_hero,ban_count = np.unique(ban_hero_list,return_counts=True)
st = 'No of Unique Heroes Banned :'+ str(len(unique_ban_hero)) + '\n'
print(st)
final.append(st)


temp_ban = {int(unique_ban_hero[i]) : int(ban_count[i]) for i in range (len(unique_ban_hero)) }
ban_hero_count = {hero_name[k]: v for k, v in sorted(temp_ban.items(), key=lambda item: item[1], reverse = True)}

print(ban_hero_count)

No of Unique Heroes Banned :97

{'night_stalker': 107, 'nyx_assassin': 104, 'batrider': 87, 'puck': 78, 'wisp': 69, 'sven': 64, 'lich': 60, 'death_prophet': 52, 'silencer': 43, 'lycan': 43, 'faceless_void': 42, 'queenofpain': 40, 'drow_ranger': 39, 'earthshaker': 39, 'phantom_lancer': 38, 'furion': 37, 'antimage': 36, 'venomancer': 34, 'dark_seer': 33, 'ancient_apparition': 31, 'earth_spirit': 31, 'kunkka': 30, 'weaver': 29, 'bloodseeker': 27, 'pugna': 26, 'sand_king': 25, 'enigma': 25, 'broodmother': 25, 'viper': 24, 'keeper_of_the_light': 23, 'storm_spirit': 22, 'invoker': 22, 'alchemist': 21, 'legion_commander': 21, 'dragon_knight': 20, 'terrorblade': 20, 'templar_assassin': 19, 'necrolyte': 18, 'huskar': 17, 'ursa': 17, 'ember_spirit': 17, 'lone_druid': 16, 'razor': 15, 'rattletrap': 15, 'troll_warlord': 15, 'tidehunter': 14, 'medusa': 14, 'bristleback': 14, 'winter_wyvern': 13, 'life_stealer': 12, 'tinker': 11, 'shredder': 11, 'chaos_knight': 10, 'meepo': 10, 'rubick': 10, 'naga_siren': 10, 'lina': 9, 'obsidian_destroyer': 8, 'disruptor': 8, 'magnataur': 8, 'morphling': 7, 'sniper': 7, 'arc_warden': 7, 'shadow_shaman': 6, 'enchantress': 6, 'ogre_magi': 6, 'oracle': 6, 'juggernaut': 5, 'beastmaster': 5, 'dazzle': 5, 'bounty_hunter': 5, 'brewmaster': 5, 'visage': 5, 'axe': 4, 'nevermore': 4, 'witch_doctor': 4, 'phantom_assassin': 4, 'omniknight': 4, 'gyrocopter': 4, 'zuus': 3, 'luna': 3, 'slark': 3, 'elder_titan': 3, 'monkey_king': 3, 'mirana': 2, 'chen': 2, 'doom_bringer': 2, 'centaur': 2, 'tusk': 2, 'lion': 1, 'riki': 1, 'warlock': 1, 'leshrac': 1, 'clinkz': 1, 'jakiro': 1, 'shadow_demon': 1, 'treant': 1}

In [10]:
df2 = df.copy(deep=True)
df2['Total Kills'] = df2['Radiant_score'] + df2['Dire_score']
df2 = df2[['Match_id','Radiant_score','Dire_score','Total Kills']]
most_kills = df2.iloc[df2['Total Kills'].argmax()]
st = 'Most Kills in a match are ' + str(most_kills[3]) + ' in Match id ' + str(most_kills[0]) + '\n' 
print(st)
final.append(st)

Most Kills in a match are104 in Match id3354219214

In [11]:
df3 = df[['Match_id','Duration']]
longest_duration = df3.iloc[df3['Duration'].argmax()]
hours = int(longest_duration[1]/3600)
minutes = int((longest_duration[1] - hours*3600)/60)
seconds = int(longest_duration[1] - (hours*3600 + minutes*60))

st = 'Longest match in Tournament is' + str(hours) + ' H ' + str(minutes) + ' M '  + str(seconds) + ' S for Match id' + str(longest_duration[0]) + '\n'
final.append(st)
print(st)

Longest match in Tournament is2 H 8 M 8 S for Match id3356083896

In [12]:
df3 = df[['Match_id','Duration']]
longest_duration = df3.iloc[df3['Duration'].argmin()]
hours = int(longest_duration[1]/3600)
minutes = int((longest_duration[1] - hours*3600)/60)
seconds = int(longest_duration[1] - (hours*3600 + minutes*60))

st = 'Shortest match in Tournament is' + str(hours) + ' H ' + str(minutes) + ' M ' + str(seconds) + ' S for Match id' + str(longest_duration[0]) + '\n'
final.append(st)
print(st)

Shortest match in Tournament is0 H 15 M 12 S for Match id3358044227

In [13]:
hero_kill_temp=[]
for i in range(1,11):
    hero_kill_temp.append(list(df.iloc[df['Player_'+str(i)+'_kills'].argmax(),[0,22*(i-1)+2,22*(i-1)+11]]))

hero_kill_sorted = [[a,hero_name[b],c] for a,b,c in sorted(hero_kill_temp, key=lambda item: item[2], reverse = True)]


st = 'Match id : '+str(hero_kill_sorted[0][0]) +' Hero name: ' +str(hero_kill_sorted[0][1]) + ' Total kills '+ str(hero_kill_sorted[0][2]) + '\n'
final.append(st)
print(st)

Match id : 3354219214 Hero name: queenofpain Total kills 25

In [14]:
hero_death_temp=[]
for i in range(1,11):
    hero_death_temp.append(list(df.iloc[df['Player_'+str(i)+'_deaths'].argmax(),[0,22*(i-1)+2,22*(i-1)+12]]))

hero_death_sorted = [[a,hero_name[b],c] for a,b,c in sorted(hero_death_temp, key=lambda item: item[2], reverse = True)]


st = 'Match id : '+str(hero_death_sorted[0][0]) +' Hero name: ' +str(hero_death_sorted[0][1]) + ' Total deaths '+ str(hero_death_sorted[0][2]) + '\n'
final.append(st)
print(st)

Match id : 3354345479 Hero name: pugna Total deaths 20

In [15]:
hero_gpm_temp=[]
for i in range(1,11):
    hero_gpm_temp.append(list(df.iloc[df['Player_'+str(i)+'_gold_per_min'].argmax(),[0,22*(i-1)+2,22*(i-1)+16]]))

hero_gpm_sorted = [[a,hero_name[b],c] for a,b,c in sorted(hero_gpm_temp, key=lambda item: item[2], reverse = True)]


st = 'Match id : '+str(hero_gpm_sorted[0][0]) +' Hero name: ' +str(hero_gpm_sorted[0][1]) + ' Total GPM '+ str(hero_gpm_sorted[0][2]) + '\n'
final.append(st)
print(st)

Match id : 3357885749 Hero name: alchemist Total GPM 1064

In [17]:
file1 = open('../output/Tournament-Analysis-2017.txt','w')
file1.writelines(final)
file1.close()