In [28]:
import pandas as pd
import numpy as np

In [29]:
df = pd.read_csv('../data/match-details/2019.csv')
df.head()
final = []

In [30]:
df.shape

(193, 232)

In [31]:

df1 = pd.read_csv('../data/drafting/International_2019_drafting.csv')

df1.head()

,match_id,result,Ban_T1_1,Ban_T1_2,Ban_T1_3,Ban_T1_4,Ban_T1_5,Ban_T1_6,Ban_T2_1,Ban_T2_2,...,Pick_T1_1,Pick_T1_2,Pick_T1_3,Pick_T1_4,Pick_T1_5,Pick_T2_1,Pick_T2_2,Pick_T2_3,Pick_T2_4,Pick_T2_5
0,4.976790e+09,Radiant,79.0,96.0,97.0,54.0,23.0,17.0,52.0,58.0,...,29.0,86.0,72.0,84.0,18.0,75.0,7.0,78.0,10.0,50.0
1,4.976841e+09,Dire,58.0,52.0,73.0,10.0,54.0,41.0,97.0,96.0,...,103.0,72.0,26.0,120.0,109.0,79.0,29.0,23.0,9.0,44.0
2,4.976922e+09,Radiant,103.0,84.0,29.0,106.0,43.0,23.0,66.0,9.0,...,68.0,16.0,19.0,54.0,39.0,58.0,97.0,30.0,8.0,25.0
3,4.977018e+09,Dire,103.0,84.0,73.0,52.0,43.0,27.0,66.0,9.0,...,68.0,19.0,99.0,7.0,15.0,79.0,29.0,23.0,54.0,86.0
4,4.977114e+09,Dire,103.0,84.0,73.0,29.0,18.0,43.0,66.0,9.0,...,7.0,121.0,8.0,19.0,61.0,79.0,52.0,37.0,96.0,94.0

In [32]:
df2 = pd.read_csv('../data/hero-names/hero_name.csv')
hero_name={}
for i in range(len(df2)):
    hero_name[df2.loc[i,'heroid']] = df2.loc[i,'hero']
hero_name

{1: 'antimage',
 2: 'axe',
 3: 'bane',
 4: 'bloodseeker',
 5: 'crystal_maiden',
 6: 'drow_ranger',
 7: 'earthshaker',
 8: 'juggernaut',
 9: 'mirana',
 11: 'nevermore',
 10: 'morphling',
 12: 'phantom_lancer',
 13: 'puck',
 14: 'pudge',
 15: 'razor',
 16: 'sand_king',
 17: 'storm_spirit',
 18: 'sven',
 19: 'tiny',
 20: 'vengefulspirit',
 21: 'windrunner',
 22: 'zuus',
 23: 'kunkka',
 25: 'lina',
 31: 'lich',
 26: 'lion',
 27: 'shadow_shaman',
 28: 'slardar',
 29: 'tidehunter',
 30: 'witch_doctor',
 32: 'riki',
 33: 'enigma',
 34: 'tinker',
 35: 'sniper',
 36: 'necrolyte',
 37: 'warlock',
 38: 'beastmaster',
 39: 'queenofpain',
 40: 'venomancer',
 41: 'faceless_void',
 42: 'skeleton_king',
 43: 'death_prophet',
 44: 'phantom_assassin',
 45: 'pugna',
 46: 'templar_assassin',
 47: 'viper',
 48: 'luna',
 49: 'dragon_knight',
 50: 'dazzle',
 51: 'rattletrap',
 52: 'leshrac',
 53: 'furion',
 54: 'life_stealer',
 55: 'dark_seer',
 56: 'clinkz',
 57: 'omniknight',
 58: 'enchantress',
 59: 'huskar',
 60: 'night_stalker',
 61: 'broodmother',
 62: 'bounty_hunter',
 63: 'weaver',
 64: 'jakiro',
 65: 'batrider',
 66: 'chen',
 67: 'spectre',
 69: 'doom_bringer',
 68: 'ancient_apparition',
 70: 'ursa',
 71: 'spirit_breaker',
 72: 'gyrocopter',
 73: 'alchemist',
 74: 'invoker',
 75: 'silencer',
 76: 'obsidian_destroyer',
 77: 'lycan',
 78: 'brewmaster',
 79: 'shadow_demon',
 80: 'lone_druid',
 81: 'chaos_knight',
 82: 'meepo',
 83: 'treant',
 84: 'ogre_magi',
 85: 'undying',
 86: 'rubick',
 87: 'disruptor',
 88: 'nyx_assassin',
 89: 'naga_siren',
 90: 'keeper_of_the_light',
 91: 'wisp',
 92: 'visage',
 93: 'slark',
 94: 'medusa',
 95: 'troll_warlord',
 96: 'centaur',
 97: 'magnataur',
 98: 'shredder',
 99: 'bristleback',
 100: 'tusk',
 101: 'skywrath_mage',
 102: 'abaddon',
 103: 'elder_titan',
 104: 'legion_commander',
 106: 'ember_spirit',
 107: 'earth_spirit',
 109: 'terrorblade',
 110: 'phoenix',
 111: 'oracle',
 105: 'techies',
 112: 'winter_wyvern',
 113: 'arc_warden',
 108: 'abyssal_underlord',
 114: 'monkey_king',
 120: 'pangolier',
 119: 'dark_willow',
 121: 'grimstroke',
 129: 'mars',
 126: 'void_spirit',
 128: 'snapfire',
 123: 'hoodwink',
 135: 'dawnbreaker',
 136: 'marci'}

In [33]:
hero_list = np.array([])
for i in range(1,11):
    hero_list = np.concatenate([hero_list,(df['Player_'+str(i)+'_hero_id']).to_numpy()])
len(hero_list)

1930

In [34]:
unique_hero,count = np.unique(hero_list,return_counts=True)

st = 'No of Unique Heroes picked :' + str(len(unique_hero)) + '\n'
print(st)
final.append(st)

temp = {int(unique_hero[i]) : int(count[i]) for i in range (len(unique_hero)) }
hero_count = {hero_name[k]: v for k, v in sorted(temp.items(), key=lambda item: item[1], reverse = True)}

print(hero_count)

No of Unique Heroes picked :114

{'elder_titan': 75, 'shadow_demon': 70, 'tiny': 62, 'ogre_magi': 62, 'gyrocopter': 52, 'leshrac': 49, 'mirana': 45, 'kunkka': 45, 'tidehunter': 45, 'sand_king': 42, 'life_stealer': 42, 'ember_spirit': 42, 'rubick': 40, 'crystal_maiden': 37, 'enchantress': 36, 'ancient_apparition': 36, 'sven': 35, 'earthshaker': 33, 'alchemist': 33, 'grimstroke': 33, 'lina': 29, 'shadow_shaman': 29, 'centaur': 27, 'faceless_void': 26, 'skeleton_king': 26, 'invoker': 26, 'slark': 26, 'warlock': 25, 'storm_spirit': 24, 'chen': 24, 'beastmaster': 23, 'axe': 22, 'omniknight': 22, 'abaddon': 22, 'magnataur': 21, 'earth_spirit': 20, 'templar_assassin': 19, 'juggernaut': 18, 'enigma': 18, 'obsidian_destroyer': 18, 'dark_willow': 18, 'jakiro': 17, 'wisp': 16, 'lion': 15, 'witch_doctor': 15, 'death_prophet': 15, 'naga_siren': 15, 'shredder': 15, 'razor': 14, 'pangolier': 14, 'morphling': 13, 'broodmother': 13, 'batrider': 13, 'bristleback': 13, 'oracle': 13, 'windrunner': 12, 'queenofpain': 12, 'phantom_assassin': 12, 'silencer': 11, 'nyx_assassin': 11, 'legion_commander': 11, 'nevermore': 10, 'dragon_knight': 10, 'spectre': 10, 'bane': 9, 'treant': 9, 'tusk': 9, 'medusa': 8, 'troll_warlord': 8, 'arc_warden': 8, 'mars': 8, 'antimage': 7, 'lich': 7, 'pugna': 7, 'weaver': 7, 'meepo': 7, 'terrorblade': 7, 'slardar': 6, 'necrolyte': 6, 'furion': 6, 'lone_druid': 6, 'phoenix': 6, 'monkey_king': 6, 'phantom_lancer': 5, 'pudge': 5, 'vengefulspirit': 5, 'zuus': 5, 'tinker': 5, 'sniper': 5, 'dark_seer': 5, 'visage': 5, 'abyssal_underlord': 5, 'bloodseeker': 4, 'puck': 4, 'viper': 4, 'dazzle': 4, 'disruptor': 4, 'drow_ranger': 3, 'doom_bringer': 3, 'skywrath_mage': 3, 'winter_wyvern': 3, 'venomancer': 2, 'huskar': 2, 'bounty_hunter': 2, 'spirit_breaker': 2, 'brewmaster': 2, 'techies': 2, 'riki': 1, 'luna': 1, 'clinkz': 1, 'night_stalker': 1, 'lycan': 1, 'chaos_knight': 1, 'undying': 1}

In [35]:
ban_hero_list = np.array([])
for i in range(1,6):
    ban_hero_list = np.concatenate([ban_hero_list,(df1['Ban_T1_'+str(i)]).to_numpy()])
    
    ban_hero_list = np.concatenate([ban_hero_list,(df1['Ban_T2_'+str(i)]).to_numpy()])
len(ban_hero_list)

1930

In [36]:
unique_ban_hero,ban_count = np.unique(ban_hero_list,return_counts=True)


st = 'No of Unique Heroes Banned :'+ str(len(unique_ban_hero)) + '\n'
print(st)
final.append(st)


temp_ban = {int(unique_ban_hero[i]) : int(ban_count[i]) for i in range (len(unique_ban_hero)) }
ban_hero_count = {hero_name[k]: v for k, v in sorted(temp_ban.items(), key=lambda item: item[1], reverse = True) if k!=0}

print('No of Unique Heroes Banned :',len(ban_hero_count),end='\n\n')
print(ban_hero_count)

No of Unique Heroes Banned :92

No of Unique Heroes Banned : 92

{'alchemist': 135, 'enchantress': 130, 'mirana': 94, 'chen': 85, 'shadow_demon': 83, 'leshrac': 76, 'magnataur': 76, 'ogre_magi': 63, 'kunkka': 61, 'elder_titan': 60, 'ancient_apparition': 55, 'life_stealer': 54, 'gyrocopter': 51, 'naga_siren': 50, 'broodmother': 43, 'wisp': 40, 'slark': 38, 'ember_spirit': 38, 'batrider': 35, 'obsidian_destroyer': 33, 'enigma': 31, 'tidehunter': 30, 'tiny': 28, 'omniknight': 27, 'treant': 27, 'faceless_void': 25, 'rubick': 25, 'beastmaster': 24, 'centaur': 21, 'sand_king': 20, 'morphling': 19, 'lina': 19, 'shredder': 19, 'sven': 18, 'lone_druid': 16, 'oracle': 16, 'nyx_assassin': 14, 'razor': 13, 'meepo': 12, 'dark_willow': 12, 'invoker': 11, 'warlock': 10, 'juggernaut': 9, 'spectre': 9, 'storm_spirit': 8, 'shadow_shaman': 8, 'skeleton_king': 8, 'death_prophet': 7, 'axe': 6, 'bloodseeker': 6, 'earthshaker': 6, 'queenofpain': 6, 'pugna': 6, 'dazzle': 6, 'bristleback': 6, 'legion_commander': 6, 'techies': 6, 'pangolier': 6, 'templar_assassin': 5, 'grimstroke': 5, 'bane': 4, 'crystal_maiden': 4, 'puck': 4, 'phantom_assassin': 4, 'dark_seer': 4, 'silencer': 4, 'abaddon': 4, 'arc_warden': 4, 'lion': 3, 'furion': 3, 'spirit_breaker': 3, 'visage': 3, 'earth_spirit': 3, 'antimage': 2, 'tinker': 2, 'necrolyte': 2, 'weaver': 2, 'medusa': 2, 'tusk': 2, 'terrorblade': 2, 'mars': 2, 'pudge': 1, 'slardar': 1, 'viper': 1, 'dragon_knight': 1, 'bounty_hunter': 1, 'jakiro': 1, 'chaos_knight': 1, 'keeper_of_the_light': 1, 'troll_warlord': 1, 'phoenix': 1, 'monkey_king': 1}

In [37]:
df2 = df.copy(deep=True)
df2['Total Kills'] = df2['Radiant_score'] + df2['Dire_score']
df2 = df2[['Match_id','Radiant_score','Dire_score','Total Kills']]
most_kills = df2.iloc[df2['Total Kills'].argmax()]
print('Most Kills in a match are',most_kills[3],'in Match id',most_kills[0])

Most Kills in a match are 96 in Match id 4968150000

In [38]:
df3 = df[['Match_id','Duration']]
longest_duration = df3.iloc[df3['Duration'].argmax()]
hours = int(longest_duration[1]/3600)
minutes = int((longest_duration[1] - hours*3600)/60)
seconds = int(longest_duration[1] - (hours*3600 + minutes*60))

st = 'Longest match in Tournament is' + str(hours) + ' H ' + str(minutes) + ' M '  + str(seconds) + ' S for Match id' + str(longest_duration[0]) + '\n'
final.append(st)
print(st)

Longest match in Tournament is 1 H 26 M 29 S for Match id 4971343154

In [39]:
df3 = df[['Match_id','Duration']]
longest_duration = df3.iloc[df3['Duration'].argmin()]
hours = int(longest_duration[1]/3600)
minutes = int((longest_duration[1] - hours*3600)/60)
seconds = int(longest_duration[1] - (hours*3600 + minutes*60))

st = 'Shortest match in Tournament is' + str(hours) + ' H ' + str(minutes) + ' M ' + str(seconds) + ' S for Match id' + str(longest_duration[0]) + '\n'
final.append(st)
print(st)

Shortest match in Tournament is 0 H 15 M 8 S for Match id 4973182943

In [40]:
hero_kill_temp=[]
for i in range(1,11):
    hero_kill_temp.append(list(df.iloc[df['Player_'+str(i)+'_kills'].argmax(),[0,22*(i-1)+2,22*(i-1)+11]]))

hero_kill_sorted = [[a,hero_name[b],c] for a,b,c in sorted(hero_kill_temp, key=lambda item: item[2], reverse = True)]


st = 'Match id : '+str(hero_kill_sorted[0][0]) +' Hero name: ' +str(hero_kill_sorted[0][1]) + ' Total kills '+ str(hero_kill_sorted[0][2]) + '\n'
final.append(st)
print(st)

[4968150000, 'storm_spirit', 27]

In [41]:
hero_death_temp=[]
for i in range(1,11):
    hero_death_temp.append(list(df.iloc[df['Player_'+str(i)+'_deaths'].argmax(),[0,22*(i-1)+2,22*(i-1)+12]]))

hero_death_sorted = [[a,hero_name[b],c] for a,b,c in sorted(hero_death_temp, key=lambda item: item[2], reverse = True)]

st = 'Match id : '+str(hero_death_sorted[0][0]) +' Hero name: ' +str(hero_death_sorted[0][1]) + ' Total deaths '+ str(hero_death_sorted[0][2]) + '\n'
final.append(st)
print(st)

[4969319314, 'crystal_maiden', 17]

In [42]:
hero_gpm_temp=[]
for i in range(1,11):
    hero_gpm_temp.append(list(df.iloc[df['Player_'+str(i)+'_gold_per_min'].argmax(),[0,22*(i-1)+2,22*(i-1)+16]]))

hero_gpm_sorted = [[a,hero_name[b],c] for a,b,c in sorted(hero_gpm_temp, key=lambda item: item[2], reverse = True)]

st = 'Match id : '+str(hero_gpm_sorted[0][0]) +' Hero name: ' +str(hero_gpm_sorted[0][1]) + ' Total GPM '+ str(hero_gpm_sorted[0][2]) + '\n'
final.append(st)
print(st)

[4969186537, 'alchemist', 1176]

In [ ]:
file1 = open('../output/Tournament-Analysis-2021.txt','w')
file1.writelines(final)
file1.close()